body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url('nature.jpg');
  background-size: cover;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  letter-spacing: 4px;
  color: white;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
}

.clock span {
  width: 100px;
  height: 80px;
  background: slateblue;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkblue;
  opacity: 0.8;
}

.clock #ampm {
  position: relative;
  bottom: 0;
  top: 80px;
  width: 100px;
  height: 30px;
  font-size: 30px;
  background-color: darkblue;
}
